body {
    background: url("images/night_sky.jpg") no-repeat;
    height: 100%;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.title {
    margin-top: 30px;
    color: white;
    font-size: 60px;
    text-align: center;
}

.input-area {
    margin-top: 30px;

}

.input-window {
    display: block;
    margin: 0 auto;
    padding: 0 10px;
    width: 300px;
    height: 30px;
    background-color: blanchedalmond;
    font-size: 20px;
}

.list-area {
    margin: 30px auto 0 auto;
    width: 350px;
}

.list-item {
    margin: 0 auto;
    padding: 5px;
    width: 300px;
    color: blanchedalmond;
    font-size: 20px;
}

.list-item p {
    margin: 0;
    padding: 0;
    width: 240px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    vertical-align: middle;
}

.list-item input[type=checkbox] {
    margin: 0 10px 0 0;
    padding: 0;
    transform: scale(1.3);
    width: 20px;
    vertical-align: middle;
    background-color: white;
}
.list-item input[checked=true] {
    text-decoration: line-through;
    color: darkgray;
}

.close-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 15px;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    vertical-align: middle;
}